services:
  bot:
    build:
      context: .
      dockerfile: ${DOCKERFILE:-Dockerfile}
    container_name: HAMRadio-Telegram_BOT
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped